@import 'variables';
@import 'utils';
@import 'type';

body {
  margin: 0;
  @include typeBody();
}

h1,h2,h3,h4,h5,h6 {
  @include typeHead();
}

.page-title {
  margin-top: 0;
  font-size: 1.2rem;
  letter-spacing: -.04rem;
  color: $gray-700;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.sidebar {
  height: 100vh;
}
.main {
  width: 100%;
  padding: 1.2rem;
}
